*{
	margin: 0;
	padding: 0;
}

body{background-color: #292929;}

/* Header Styling Start */
header{
	width: 100%;
	height: auto;
	/*border: 1px solid gray;*/
}

header nav{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	/*border: 1px solid gray;*/
	background-color: #f3971b;
}

header nav .logo{
	font-size: 24px;
	color: #33232a;
	display: flex;
	cursor: none;
}

header nav ul{
	width: 70%;
	display: flex;
	color: #FFFAFA;
	font-size: 20px;
	font-weight: bold;
	font-family: serif;
	justify-content: space-around;
	/*border: 1px solid red;*/
}

body header nav ul li{list-style: none;}
body header nav ul li .nav-content{text-decoration: none;color: #FFE4C4;}
body header nav ul li .nav-content:hover{color: #33232a;}
body header nav ul li .nav-content:active{color: gray;}

header .header-content{
	width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	/*border: 1px solid green;*/
}

header .header-content .image-content{
	width: 200px;
	height: 210px;
	text-align: center;
	/*border: 1px solid green;*/
}

header .header-content .image-content button{
	width: 150px;
	font-size: 20px;
	font-weight: bold;
	color: #FFFAFA;
	margin-top: 15px;
	border: 2px solid #f3971b;
	border-radius: 10px;
	background-color: transparent;
}

header .header-content .image-content button:hover{color: #33232a;background-color: #f3971b;}
header .header-content .image-content button:active{color: gray;background-color: #f3971b;}

header .header-content span img{
	width: 150px;
	height: 150px;
	border: 3px solid gray;
	border-radius: 75px;
	background-color: #f3971b;
}

header .header-content .content{
	width: 400px;
	height: 150px;
	margin-top: 35px;
	/*border: 1px solid red;*/
}

header .header-content .content h2,h1{
	color:  #FFFAFA;
}

header .header-content .content h5{
	color: #f3971b;
	font-size: 16px;
}
/* Header Styling End */


/*Styling About Section Start */
body .about-styling{
	width: 100%;
	height: auto;
	color: #f3971b;
	text-align: center;
	/*border: 1px solid gray;*/
}

body .about-styling h3{
	margin-top: 50px;
	font-size: 28px;
}
body .about-styling hr{
	width: 50px;
	color: #f3971b;
	display: inline-flex;
	justify-content: center;
}

body .about-styling article{
	display: flex;
	margin-top: 20px;
	justify-content: space-around;
	/*border: 1px solid green;*/
}
body .about-styling article img{
	width: 300px;
	height: auto;
}

body .about-styling article aside{
	width: 350px;
	height: auto;
	/*border: 1px solid red;*/
}

body .about-styling article aside h2{
	font-size: 24px;
}

body .about-styling article aside p{
	color: #FFFAFA;
	font-size: 20px;
	text-align: justify;
	margin-top: 15px;
}

body .about-styling article aside button{
	width: 70px;
	height: auto;
	margin-top: 50px;
	color: #FFFAFA;
	font-weight: bold;
	font-size: 16px;
	border: 2px solid #f3971b;
	border-radius: 5px;
	background-color: transparent;
}

body .about-styling article aside button:hover{color: #33232a;background-color: #f3971b;}
body .about-styling article aside button:active{color: gray;background-color: #f3971b;}
/*Styling About Section End */